body {
    background-color: rgb(54, 44, 86);
    font-family: 'Noto Sans', sans-serif;
    color: rgb(238, 193, 17);
}

.container-fluid {
    background-color: rgb(27, 21, 43);
}

nav a {
    color: rgb(238, 193, 17) !important;
}

* {
    border: 0 !important;
}